<section class="vh-100">
    <div id="bg-image"></div>
    <div class="container py-5 h-100">
        <header>
            <h1>IT STEP ACADEMY</h1>
        </header>
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <!-- Slides automatically changes and loop around every 2 seconds-->
                <carousel>
                    <slide>
                      <img src="../../assets/4.jpg" alt="First slide" style="width: 100%;">
                    </slide>
                    <slide >
                      <img src="../../assets/1.jpg" alt="Second slide" style="width: 100%;">
                    </slide>
                    <slide>
                      <img src="../../assets/42b49dd8-1c82-4a99-823c-ce091c70e677.jpg" alt="Third slide" style="width: 100%;">
                    </slide>
                    <slide>
                        <img src="../../assets/ace60b73-1b15-4882-8e0b-a0868d2e98eb.jpg" alt="Third slide" style="width: 100%;">
                      </slide>
                  </carousel>                  
            </div>
            <div id="content" class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" >
                <form [formGroup]="user" (submit)="doLogin()">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example13" class="form-control form-control-lg" formControlName="username" />
                        <label class="form-label" for="form1Example13">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example23" class="form-control form-control-lg" formControlName="password"/>
                        <label class="form-label" for="form1Example23">Password</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a href="#!">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <div [class.hidden]="message==''" class="text-danger">{{message}}</div>
                    <button id="btnSignIn" type="submit" class="btn btn-primary btn-lg btn-block" (click)="doLogin()">Sign
                        In</button>
                        <button id="btnSignUp" type="button" (click)="doSignUp()" class="mx-5 mb-0 btn btn-dark btn-lg btn-block"
                        >Sign
                        Up</button>

                </form>
            </div>
        </div>
        <div id="footer" class="footer-basic">
            <footer>
                <div class="social"><a href="https://www.instagram.com/it_step_cambodia/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.facebook.com/itstepcambodia" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://github.com/CrimSonRice" target="_blank"><i class="icon ion-social-github"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="https://cambodia.itstep.org" target="_blank">Services</a></li>
                    <li class="list-inline-item"><a href="https://cambodia.itstep.org/about-academy" target="_blank">About</a></li>
                </ul>
                <p class="copyright">IT STEP ACADEMY © 2023</p>
            </footer>
        </div>
    </div>
</section>